:host {
  display: block;

  --percentage: 50;
  --color: red;
  --background: rgba(0,0,0,0.15);

  --width: 300px;
  --height: 150px;
  --thickness: 50;
}

:host .semi-donut{
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  box-sizing : border-box;
  overflow: hidden;
  color: #fff;
  color: var(--color);
}

:host .semi-donut.fixed-size{
  width: var(--width);
  height:  var(--height);
}

:host .semi-donut:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  box-sizing : border-box;
  border: calc(var(--thickness) * 1px) solid;
  border-color : var(--background) var(--background) var(--color) var(--color);
  border-radius: 50%;
  transform: rotate( calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ) );
  animation : fillAnimation 1s ease-in;
}
:host .semi-donut.fixed-size:after{
  width: var(--width);
  height: var(--width);

}